PORT=8888 
SECRET_KEY_AUTH = EXAMPLE_SECRET_KEY
USERNAME_DB = name
PASSWORD_DB = pass
NAME_DB = db_bus
PORT_DB = 3306
HOST_DB=mysql 
HOST_RDB=redis 
PORT_RDB=6379
PASSWORD_RDB= pass





#Email Config
#Get the app password from gmail
APP_PASSWORD_GMAIL =abcdefh
SMTP_MAIL_SERVER =smtp.gmail.com
SMTP_MAIL_PORT =465
EmailServer_Port= 8081



#Rabbit Mq
USERNAME_RMQ= username
PASSWORD_RMQ=password
HOST_RMQ=localhost
PORT_RMQ=5672

