<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <image
        src="https://hcti.io/v1/image/89860fc7-5877-48cd-9257-e44304924391"
        alt="img"
        title="img"
        style="display: block"
        width="800"
        height="800"
      />

      <footer style="text-align: center; margin: 4em auto; width: 100%">
        <div>
          <p style="font-size: 16px; line-height: 20px; flex: 1">
            Thank you and have a good trip <span> 😀 </span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
