<html>
  <body>
    <div
      class="main-content"
      style="
        text-transform: uppercase;

        font-family: 'Questrial', sans-serif;
        align-self: center;
      "
    >
      <table
        class="ticket"
        style="
          height: 400 px;
          width: 800px;
          background: #f3f1c9;
          border-radius: 10px;
          border: 2px solid #222;
          cursor: default;
          padding: 10px;
          table-layout: fixed;
          border-spacing: 0px;
        "
      >
        <tr class="ticket__main" style="height: 80px; padding: 10px">
          <td
            class="header"
            colspan="4"
            style="
              font: 900 38px 'Montserrat', sans-serif;
              padding: 5px 0 5px 30px;
              letter-spacing: 6px;
              background: #111;
              color: #f3f1c9;
            "
          >
            Bus Agency
          </td>

          <!-- <td
            rowspan="4"
            class="logo"
            style="
              text-align: center;
              padding: 0px 0px 0px 30px;
              font: 900 16px/1 'Montserrat';
              letter-spacing: 1.5px;
              width: 15px;
              position: relative;
              border-left: 1.5px dashed #111;
              color: #fff;
              writing-mode: vertical-rl;

              background: rgba(192, 42, 40, 0.2);
            "
          >
            <div
              style="
                background: #c02a28;
                width: 40px;
                display: flex;
                justify-content: center;
                border: 1px solid #c02a28;
                height: 100%;
              "
            >
              <p style="transform: rotate(180deg)">Bus Agency</p>
            </div>
          </td>
          <td
            rowspan="2"
            style="
              border-color: #c02a28;
              border-style: solid;
              border-width: 3px 0px 3px 0px;
              writing-mode: vertical-lr;
              transform: rotate(180deg);
              margin-top: 10px;
              background: rgba(192, 42, 40, 0.2);
              padding: 10px 0 0 0;
            "
          >
            <div class="info__item" style="font-size: 11px; color: #c02a28">
              Arrive
            </div>
            <div
              class="info__detail"
              style="font-size: 12px; margin: 0 2px 0 0; letter-spacing: 0px"
            >
              {{.Schedule.ToAgency.Place}}
            </div>
          </td>
          <td
            rowspan="2"
            class="info side-depart"
            style="
              border: 3px solid #c02a28;
              padding: 10px 0 0 0;
              background: rgba(192, 42, 40, 0.2);
              writing-mode: vertical-rl;
              transform: rotate(180deg);
            "
          >
            <div class="info__item" style="font-size: 11px; color: #c02a28">
              Depart
            </div>
            <div
              class="info__detail"
              style="font-size: 12px; margin: 0 2px 0 0; letter-spacing: 0px"
            >
              {{.Schedule.FromAgency.Place}}
            </div>
          </td> -->
        </tr>
        <tr
          style="
            height: 80px;

            /* border:2px solid black ; */
          "
        >
          <td
            class="info passenger"
            colspan="4"
            style="
              border-style: solid;
              border-width: 0px 3px 3px 3px;

              padding: 8px;
            "
          >
            <div
              class="info__item"
              style="
                font: 400 13px 'Questrial', sans-serif;
                letter-spacing: 0.5px;
              "
            >
              Passenger
            </div>
            <div
              class="info__detail"
              style="
                font: 700 20px/1 'Jura';
                letter-spacing: 1px;
                margin: 4px 0;
              "
            >
              {{.Customer.Name}}
            </div>
          </td>
        </tr>
        <tr>
          <td
            class="info departure"
            colspan="2"
            style="
              border-left: 3px solid;
              border: 3px solid;
              border-width: 0 3px 3px 3px;
              padding: 8px;
            "
          >
            <div
              class="info__item"
              style="
                font: 400 13px 'Questrial', sans-serif;
                letter-spacing: 0.5px;
              "
            >
              Depart
            </div>
            <div
              class="info__detail"
              style="
                font: 700 20px/1 'Jura';
                letter-spacing: 1px;
                margin: 4px 0;
              "
            >
              {{.Schedule.FromAgency.Place}}
            </div>
          </td>

          <td
            class="info arrival"
            colspan="2"
            style="border: 3px solid; border-width: 0 3px 3px 0; padding: 8px"
          >
            <div
              class="info__item"
              style="
                font: 400 13px 'Questrial', sans-serif;
                letter-spacing: 0.5px;
              "
            >
              Arrive
            </div>
            <div
              class="info__detail"
              style="
                font: 700 20px/1 'Jura';
                letter-spacing: 1px;
                margin: 4px 0;
              "
            >
              {{.Schedule.ToAgency.Place}}
            </div>
          </td>

          <!-- <td
            rowspan="2"
            class="info side-date"
            style="
              border: 3px solid #c02a28;
              border-width: 3px 0px 0;
              padding: 10px 0 0 0;
              writing-mode: vertical-rl;
              transform: rotate(180deg);
              background: rgba(192, 42, 40, 0.2);
              border-right: none;
            "
          >
            <div class="info__item" style="font-size: 11px; color: #c02a28">
              Date
            </div>
            <div
              class="info__detail"
              style="font-size: 12px; margin: 0 2px 0 0; letter-spacing: 0px"
            >
              {{.Schedule.Date}}
            </div>
          </td>

          <td
            rowspan="2"
            class="info side-time"
            style="
              border: 3px solid #c02a28;
              border-width: 3px 3px 0;
              writing-mode: vertical-rl;
              transform: rotate(180deg);
              background: rgba(192, 42, 40, 0.2);
              margin-top: 10px;
              padding: 10px 0 0 0;
            "
          >
            <div class="info__item" style="font-size: 11px; color: #c02a28">
              Plate Number
            </div>
            <div
              class="info__detail"
              style="font-size: 12px; margin: 0 2px 0 0; letter-spacing: 0px"
            >
              {{.Schedule.Bus.NumberPlate}}
            </div>
          </td> -->
        </tr>
        <tr>
          <td
            class="info date"
            colspan="1"
            style="
              border-left: 3px solid;
              border: 3px solid;
              border-width: 0 3px 3px 3px;
              padding: 8px;
            "
          >
            <div
              class="info__item"
              style="
                font: 400 13px 'Questrial', sans-serif;
                letter-spacing: 0.5px;
              "
            >
              Date
            </div>
            <div
              class="info__detail"
              style="
                font: 700 20px/1 'Jura';
                letter-spacing: 1px;
                margin: 4px 0;
              "
            >
              {{.Schedule.Date}}
            </div>
          </td>
          <td
            colspan="1"
            class="info time"
            style="border: 3px solid; border-width: 0px 3px 3px 0; padding: 8px"
          >
            <div
              class="info__item"
              style="
                font: 400 13px 'Questrial', sans-serif;
                letter-spacing: 0.5px;
              "
            >
              Plate Number
            </div>
            <div
              class="info__detail"
              style="
                font: 700 20px/1 'Jura';
                letter-spacing: 1px;
                margin: 4px 0;
              "
            >
              {{.Schedule.Bus.NumberPlate}}
            </div>
          </td>

          <td
            class="info price"
            colspan="2"
            style="border: 3px solid; border-width: 0 3px 3px 0; padding: 8px"
          >
            <div
              class="info__item"
              style="
                font: 400 13px 'Questrial', sans-serif;
                letter-spacing: 0.5px;
              "
            >
              Price
            </div>
            <div
              class="info__detail"
              style="
                font: 700 20px/1 'Jura';
                letter-spacing: 1px;
                margin: 4px 0;
              "
            >
              Rp.{{.Schedule.Price}}
            </div>
          </td>
        </tr>
        <tr>
          <td
            class="fineprint"
            rowspan="2"
            colspan="3"
            style="
              font-size: 14px;
              font-family: 'Inconsolata';
              line-height: 1;
              margin-top: 10px;
              padding-right: 5px;
            "
          >
            <p>
              Boarding begins 30 minutes before departure. Snacks available for
              purchase from The Depature & Arrival Agency.
            </p>
            <p
              style="
                margin: 4px 4px 0 0;
                padding-top: 4px;
                border-top: 1.5px dotted;
                font: 11px/1 'Inconsolata';
              "
            >
              This ticket is Non-refundable • Bus Agency Authority
            </p>
          </td>

          <td rowspan="2" class="barcode__scan" style="padding: 5px">
            <div
              style="
                height: 100%;

                background: linear-gradient(
                  to right,
                  #333 2%,
                  #333 4%,
                  transparent 4%,
                  transparent 5%,
                  #333 5%,
                  #333 6%,
                  transparent 6%,
                  #333 6%,
                  #333 8%,
                  transparent 8%,
                  transparent 9%,
                  #333 9%,
                  #333 10.5%,
                  transparent 10.5%,
                  transparent 11%,
                  #333 11%,
                  #333 12%,
                  transparent 12%,
                  transparent 13.5%,
                  #333 13.5%,
                  #333 15%,
                  #333 17%,
                  transparent 17%,
                  transparent 19%,
                  #333 19%,
                  #333 20%,
                  transparent 20%,
                  transparent 21%,
                  #333 21%,
                  #333 22%,
                  transparent 22%,
                  transparent 23.5%,
                  #333 23.5%,
                  #333 25%,
                  transparent 25%,
                  transparent 26.5%,
                  #333 26.5%,
                  #333 27.5%,
                  transparent 27.5%,
                  transparent 28.5%,
                  #333 28.5%,
                  #333 30%,
                  transparent 30%,
                  transparent 32%,
                  #333 32%,
                  #333 34%,
                  #333 36%,
                  transparent 36%,
                  transparent 37.5%,
                  #333 37.5%,
                  #333 40%,
                  transparent 40%,
                  transparent 41.5%,
                  #333 41.5%,
                  #333 43%,
                  transparent 43%,
                  transparent 46%,
                  #333 46%,
                  #333 48%,
                  transparent 48%,
                  transparent 49%,
                  #333 49%,
                  transparent 49%,
                  transparent 50%,
                  #333 50%,
                  #333 51%,
                  transparent 51%,
                  transparent 53%,
                  #333 53%,
                  #333 54.5%,
                  transparent 54.5%,
                  transparent 56%,
                  #333 56%,
                  #333 58%,
                  transparent 58%,
                  transparent 59%,
                  #333 59%,
                  #333 60%,
                  #333 62.5%,
                  transparent 62.5%,
                  transparent 64%,
                  #333 64%,
                  #333 64%,
                  #333 67%,
                  transparent 67%,
                  transparent 69%,
                  #333 69%,
                  #333 70%,
                  transparent 70%,
                  transparent 71%,
                  #333 71%,
                  #333 72%,
                  transparent 72%,
                  transparent 73.5%,
                  #333 73.5%,
                  #333 76%,
                  transparent 76%,
                  transparent 79%,
                  #333 79%,
                  #333 80%,
                  transparent 80%,
                  transparent 82%,
                  #333 82%,
                  #333 82.5%,
                  transparent 82.5%,
                  transparent 84%,
                  #333 84%,
                  #333 87%,
                  transparent 87%,
                  transparent 89%,
                  #333 89%,
                  #333 91%,
                  transparent 91%,
                  transparent 92%,
                  #333 92%,
                  #333 95%,
                  transparent 95%
                );
              "
            ></div>
          </td>
          <!-- <div
          class="barcode__id"
          style="
            letter-spacing: 4px;
            padding: 2px 0 0;
            color: #c02a28;
            font: 700 16px/1 'Jura';
          "
        >
          {{.TicketId}}
        </div> -->
          <!-- 
          <td style="border-left: 1.5px dashed #111"></td> -->
        </tr>
      </table>
    </div>
  </body>
</html>
